body,html, *
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-align: center;
    box-sizing: border-box;
    scroll-behavior: smooth;    
    list-style: none;
    text-decoration: none;

}

a {
    text-decoration: none;
    color: black;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-ExtraLightItalic.otf') format('opentype');
}


/* Barre de menu en haut */

#navbar{
    display: flex;
    flex-direction: row;
    font-size: 3em;

}

#trois li{
    flex: auto;
}

.monPar{
    background-color: #d71b3b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu{
    background-color: #e8d71e ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mesExp{
    background-color: #16acea  ;
}




/*  IMG en Haut ***************************/
#contenantImg{
    position: relative;
    text-align: center;
    padding-bottom: 1em;
}

.texte_centrer {
    position: absolute;
    top: 58%;
    left: 61%;
    transform: translate(-50%, -50%);
    font-size:3em;
    color: #4203c9 ;
}

#imgPrinc{
    border-radius: 5%;
}


/*Section des projets*/

.imgPortFo{
    border-radius: 5%;
}

#row{
    display: flex;
    flex-direction: column;
}
#colone{
    border: solid #e8d71e;
    width: 500px;
    margin: auto;
    border-radius: 10px;
}
.imgPortFo{
    width: 300px;
    height: 250px;
}
.sousPartie{
    color: #d71b3b;
    border: solid;
    width: 300px;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;
    background-color: #e8d71e;
    border-radius: 5%;
    justify-content: center;
    display: flex;    
}
.sousPartie:hover li p{
    background-color: #16acea;
    color: white;
}
.sousPartie:hover li a{
    color: white;
}

#boutoncentre{
    display: flex;
    flex-direction: column;
    align-items: center;
}









/* Commentaire trait entre les deux projet ************************** */

.trait
{
    height: 1px;
    width: 75%;
    background-color: #16acea;
    margin: 60px auto;
}




/*Footeur ************************ */
#pied{
    background-color: #4203c9;
    margin-top: 3em;
    color: #e8d71e;
}

#deuxiemeTrait{
    height: 1em;
    width: 75%;
    background-color: #16acea;
    margin: 60px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#deuxiemeTrait:hover{
    background-color: black;
    color: white;

}


.fh{
    max-width: 1em;
    max-height: 1em;
}

#copyrightdiv{
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
}

.logofoot{
    height: 50px;
    width: 50px;
}

@media screen and (max-width: 819px) {
    
    .monPar, .mesExp {
        display: none;
    }
    .texte_centrer{
        color: white;
    }
    #box .width {
        width: 400px;
    }
    #box{
        width: 500px;
    }
    #box {
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #boutoncentre{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media screen and (max-width: 1059px) {
    
    #row #colonne {
       
    }
}