body,html, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-align: center;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
@font-face {
    font-family: 'Poppins';
    src: url('Documentation/Police/poppins/Poppins-ExtraLightItalic.otf') format('opentype');
    background-size: cover;

}
li{
    list-style: none;
}


/* <!--Logo-----------------------------> */
#logodiv{
    height: 164px;
    text-align: center;
    position: relative;
    z-index: 200;   
}
#logo{
    height: 12em;
    width: 12em;
}

#vershaut{
    background-color: #16acea;
}

/* <!--NAV BAR-----------------------------> */

#navbar ul li {
    color: #16acea ;
    animation: flash 1.4s linear infinite;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

@keyframes flash {
    0% {
        color: #e8d71e ;
        text-shadow: none;
    }
    50%{
        color: #4203c9 ; 
        text-shadow: none;
    }
    60%{
        color: #16acea;
        text-shadow: 0 0 7px #16acea , 0 0 50px #e8d71e;
    }
}



#contnav{
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1;



}
header{
    width: 100%;
    overflow: hidden;
    background-color: #16acea;
    

}
header li{
    float: right;
    font-size: 2em;
    padding: 0em 1em 0 1em ;
}
header li a{
    text-decoration: none;
    
}
.logona {
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    flex-wrap: wrap


}
#navbar{
    background-color: #d71b3b;
    z-index: 0;

}

.imgnav{
    max-width: 1em;
    max-height: 1em;
}

/* Présentation */
#presentation{
    background-color: #16acea;
    height: auto;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 5em 0;
    text-align: center;
    border-radius: 1%;
}
.presentation{
    background-color: #d71b3b;
    border-radius: 15%;
    display: inline-block;
    padding: 2.5em 5em;
    flex-direction: column;
    flex-wrap: wrap;

}
.photodemoi{
    width: 14em;
    height: 18em;
    border-radius: 60px;  
    margin-top: 2%;
}

.divimage{
    text-align: center;

}
/* Présentation Texte-------------------------------- */

#sectionII{
    padding-top: 3em;
    margin: 0em 3em 3em 3em;
}

.textI{
    font-size: 2em;
    font-weight: bolder;
}
.textII{
    text-align: center;
    font-size: 1.3em;
}

/* Images defilantes -------------------- */

#slider {
    position: relative;
    width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255,255,255);
    border-radius: 30%;
    z-index: 0;
}
#precedent, #suivant, .image{
    z-index: 10;
}

#precedent,
#suivant {
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0;
    position: absolute;
    font-size: 100px;
    color: #d71b3b;
    background-color: #16acea;
    padding: 10px;
}

#precedent {
    left: 0;
}

#suivant {
    right: 0;
}

#slider:hover #precedent,
#slider:hover #suivant {
    opacity: 1;
}

/* Barre de menu en bas */

#navbarBas{
    display: flex;
    flex-direction: row;
    font-size: 3em;
    flex-wrap: wrap;
}

#pBar{
    margin-bottom: auto;
    margin-top: 3%;
}

#trois li{
    flex: auto;
    width: 3em;

}

.monParbas{
    background-color: #d71b3b;
}

.mesPro{
    background-color: #e8d71e ;
}

.mesExp{
    background-color: #16acea;
    font-size: 0.7em;

}





/* Pied et Contact--------------------------------- */

footer{
    background-color: #d71b3b;
    color: #e8d71e;
}

.logofoot{
    height: 50px;
    width: 50px;
}


input, textarea, button{
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    border-radius: 8px;
}

textarea{
    height: 120px;
}

button{
    font-size: 1.5em;
    background-color: #e8d71e;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
button:hover{
    background-color: #d71b3b;
    border: dashed #e8d71e;
}

#deuxiemeTrait{
    height: 1px;
    width: 75%;
    background-color: #e8d71e;
    margin: 60px auto;
}

#contcontact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#pied{
    font-size: small;
    padding-bottom: 1em;

}

