body,html, *
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-align: center;
    box-sizing: border-box;
    scroll-behavior: smooth;    
    list-style: none;
    text-decoration: none;

}

@font-face {
    font-family: 'Poppins';
    src: url('Police/poppins/Poppins-ExtraLightItalic.otf') format('opentype');
}


/* Barre de menu en haut */

#navbar{
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 3em;

}
#trois li{
    flex: auto;
}

.monPar{
    background-color: #d71b3b;
}

.menu{
    background-color: #e8d71e ;
}

.mesPro{
    background-color: #16acea  ;
}




/*  IMG en Haut ***************************/
#contenantImg{
    position: relative;
    text-align: center;
    padding-bottom: 1em;
}

.texte_centrer {
    position: absolute;
    top: 58%;
    left: 61%;
    transform: translate(-50%, -50%);
}

#imgPrinc{
    border-radius: 5%;
}


/*Section des projets*/

.imgPortFo{
    border-radius: 5%;
}

#row{
    display: flex;
    flex-direction: column;
}
#colone{
    border: solid #e8d71e;
    max-width: 45%;
    margin: auto;
    border-radius: 10px;
}
.imgPortFo{
    width: 300px;
    height: 250px;
}
.sousPartie{
    color: #d71b3b;
    border: solid;
    max-width: 30%;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;
    background-color: #e8d71e;
    border-radius: 5%;
    
}
.sousPartie:hover li p{
    background-color: #16acea;
    color: white;
}
.sousPartie:hover li a{
    color: white;
}









/* Commentaire trait entre les deux projet ************************** */

.trait
{
    height: 1px;
    width: 75%;
    background-color: #16acea;
    margin: 60px auto;
}
















/*Footeur ************************ */
#pied{
    background-color: #4203c9;
    margin-top: 3em;
    color: #e8d71e;
}

#deuxiemeTrait{
    height: 1em;
    width: 75%;
    background-color: #16acea;
    margin: 60px auto;
}

#copyrightdiv{
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
}

.logofoot{
    height: 50px;
    width: 50px;
}

#deuxiemeTrait:hover{
    background-color: white;
    color: black;
}