body,html, *{
    margin: 0;
    padding: 0;
    font-family: 'Advent Pro', sans-serif;
    box-sizing: border-box;
}
li{
    list-style: none;
}
/* <!--Logo-----------------------------> */
#logodiv{
    height: 150px;
    text-align: center;
}
#logo{
    height: 12em;
    width: 12em;
}

/* <!--NAV BAR-----------------------------> */

header{
    width: 100%;
    overflow: hidden;
    background-color: yellow;
}
header li{
    float: right;
    font-size: 2em;
    padding: 0em 1em 0 1em ;
}
header li a{
    text-decoration: none;
    
}
.logona{
    float: left;
}
